langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain-chroma
chromadb
firecrawl-py
PyPDF2
python-dotenv
pydantic
requests
fastapi
uvicorn
watchdog
langgraph-cli[inmem]
streamlit
tavily-python
langchain-huggingface
sentence-transformers
termcolor
httpx>=0.27.0
requests
google-search-results
playwright
